* {
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(184, 219, 252);
    font-family: Arial, Helvetica, sans-serif;
}


.layout{
    width: 900px;
    height: 100vh;
    background-color: #fff;
    margin: auto;
    border-right: 1px solid rgb(123, 210, 245);
    border-left: 1px solid rgb(123, 210, 245);
    border-bottom: 1px solid rgb(123, 210, 245);
    box-sizing: border-box;
}

.layout .header{
    height: 50px;
    border-bottom: 1px solid rgb(123, 210, 245);
    background-color: rgb(1, 83, 116);
    box-sizing: border-box;
}

.layout .header .name-software{
    width: 240px;
    height: 100%;
    float: left;
    border-right: 1px solid rgb(123, 210, 245);
    color: #fff;
    box-sizing: border-box;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
}

.layout .header .button-login, .button-logout{
    float: right;
    width: 110px;
    height: 100%;
    line-height: 50px;
    text-align: center;
    box-sizing: border-box;
}

.layout .header .button-logout{
    display: none;
}

.button{
    width: 70px;
    height: 35px;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid rgb(123, 210, 245);
    border-radius: 8px;
    outline: none;
    font-size: 13px;
}

.button:hover{
    background-color: rgb(123, 210, 245);
    color: #fff;
}

.layout .header .name-group {
    width: 548px;
    float: left;
    height: 100%;
    color: #fff;
    text-align: center;
    line-height: 50px;
    font-size: 15px;
    box-sizing: border-box;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    width: 900px;
    margin: auto;
    height: 100vh;
    z-index: 20;
    color: #fff;
}

.modal .login{
    position: relative;
    background-color: rgb(1, 83, 116);
    width: 400px;
    height: 50vh;
    top: 50%;
    left: 50%;
    z-index: 20;
    transform: translate(-50%, -50%);
    padding: 20px;
}

.modal .login p{
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.modal .login #id{
    outline: none;
    width: 100%;
    box-sizing: border-box;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 7px;
    border: 1px solid rgb(22, 176, 236);
    border-radius: 8px;
    background-color: #fff;
    font-size: 15px;
}

.modal .login #form-login{
    font-size: 16px;
    margin-top: 20px;
}

.modal .login .button-login{
    float: right;
    height: 100%;
    line-height: 50px;
    box-sizing: border-box;
    margin-top: 2px;
}

.modal .modal-overlay{
    background-color:rgba(1, 83, 116, 0.5);
    position: absolute;
    top: 0;
    width: 900px;
    height: 100%;
}

.modal .login .close{
    float: right;
    width: 20px;
    height: 20px;
    text-align: center;
    color: #fff;
    background-color:rgb(123, 210, 245);
    border-radius: 50%;
    cursor: pointer;
}

.groups {
    float: left;
    width: 240px;
    height: calc(100vh - 50px);
    z-index: 1;
    box-sizing: border-box;
    border-right: 1px solid rgb(1, 83, 116);
}

.groups-list{
    overflow: auto;
    height: calc(100vh - 270px);
    z-index: 1;
    box-sizing: border-box;
}

.groups-list::-webkit-scrollbar {
    width: 10px;
}
 
.groups-list::-webkit-scrollbar-track {
    background-color: rgb(1, 83, 116);
    z-index: 1;
    border-radius: 50px;
}
 
.groups-list::-webkit-scrollbar-thumb {
    background-color: rgb(0, 143, 199);
    border-radius: 50px;
}

.groups-list .group{
    width: 100%;
    height: 60px;
    padding: 5px 10px;
    box-sizing: border-box;
    cursor: pointer;
}

.groups-list .group.active{
    background-color: rgb(123, 210, 245);
}

.groups-list .group:hover{
    background-color: rgb(123, 210, 245);
}

.groups-list .group .icon{
    float: left;
    width: 50px;
    margin-right: 9px;
}

.groups-list .group .icon img{
    height: 50px;
    width: 100%;
    background-color: rgb(123, 210, 245);
    border-radius: 50%;
}

.groups-list .group .name{
    line-height: 50px;
}

.add-group{
    height: 220px;
    z-index: 1;
    box-sizing: border-box;
    border-top: 1px solid rgb(123, 210, 245);
    padding: 20px 15px 10px 10px;
    font-size: 15px;
}

.add-group #group-name, #group-id{
    width: 100%;
    box-sizing: border-box;
    outline: none;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 7px;
    border: 1px solid rgb(1, 83, 116);
    border-radius: 8px;
    font-size: 15px;
}

.add-group .button-add{
    float: right;
    height: 100%;
    line-height: 50px;
    box-sizing: border-box;
    margin-top: 2px;
}

.messages-content{
    width: 658px;
    box-sizing: border-box;
    float: left;
    height: calc(100vh - 50px);
    position: relative;
    z-index: 1;
}

.loading{
    display: none;
    position: absolute;
    top: calc(90% - 60px);
    left: calc(50% - 20px);
    width: 30px;
    height: 30px;
    border: 5px solid rgb(0, 143, 199);
    border-bottom: 5px solid transparent;
    border-radius: 50%;
    animation-name: rotate-scale;
    animation-duration: 0.6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotate-scale {
    0%{
        transform: scale(1) rotate(0deg);
    }50%{
        transform: scale(0.6) rotate(180deg);
    }100%{
        transform: scale(1) rotate(360deg);
    }
}

.messages{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    overflow: auto;
    height: 90%;
}

.send-message{
    display: none;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border-top: 1px solid rgb(1, 83, 116);
    height: calc(10% - 1px);
    font-size: 15px;
}

.send-message form{
    height: 100%;
}

.send-message #message {
    border: none;
    width: 85%;
    height: 100%;
    outline: none;
    font-size: 15px;
    resize: none;
}

.send-message .button-send{
    float: right;
    width: 15%;
    height: 100%;
    line-height: 50px;
    text-align: center;
    box-sizing: border-box;
}

.messages::-webkit-scrollbar {
    width: 10px;
}
 
.messages::-webkit-scrollbar-track {
    background-color: rgb(22, 176, 236);
    z-index: 1;
    border-radius: 50px;
}
 
.messages::-webkit-scrollbar-thumb {
    background-color: rgb(0, 143, 199);
    border-radius: 50px;
}

.messages .message{
    display: block;
    margin-right: 70px;
}

.message.active{
    display: block;
    text-align: right;
    margin-left: 70px;
    margin-right: 0;
}

.messages .message.active > .message-container{
    background-color: rgb(0, 143, 199);
}

.messages .message > .message-container{
    margin-bottom: 3px;
    box-sizing: border-box;
    border-radius: 15px;
    height: auto;
    font-size: 14px;
    display: inline-block;
    background-color: rgb(123, 210, 245);
}

.messages .message .name-contact{
    padding: 4px 15px 4px 12px;
    color: #fff;
}

.messages .message .message-contact{
    padding: 0px 15px 4px 12px;
}

.messages .message.active .name-contact{
    padding: 4px 12px 4px 15px;
    color: #fff;
}

.messages .message.active .message-contact{
    padding: 0px 12px 4px 15px;
}